@use '../abstracts' as *;

body {
    background-color: var(--clr-accent-200);
    padding: 2rem
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
}

.side-pane {
    flex: 20%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
}